<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="create()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group >
        <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="trip">
          <nz-option
            *ngFor="let trip of trips"
            [nzLabel]="trip.name"
            [nzValue]="trip.name"
          ></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
