<svg #svgRef xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="svgViewBox" (wheel)="$event.preventDefault()">
  <g id="rootLayer"
    [attr.transform]="rootTransform"
  >
    <g id="axisLayer">
      <g id="xAxisLayer"></g>
      <g id="yAxisLayer" mask="url(#yAxisMaskLayer)"></g>
    </g>
    <g id="linesLayer" mask="url(#linesMaskLayer)"></g>
    <g id="tooltipLayer"></g>
    <g id="tooltipFlagLayer"></g>
  </g>
  <defs>
    <mask id="linesMaskLayer"><rect [attr.width]="canvasWidth" [attr.height]="canvasHeight" fill="white"></rect></mask>
    <mask id="yAxisMaskLayer"><rect [attr.width]="width" [attr.height]="canvasHeight" [attr.x]="-padding.left" fill="white"></rect></mask>
  </defs>
  <defs>
    <linearGradient id="areaColor" x1="0" y1="0" x2="0" y2="100%"><stop offset="0%" stop-color="rgba(252, 193, 23, .2)"></stop><stop offset="80%" stop-color="rgba(252, 193, 23, 0)"></stop></linearGradient>
  </defs>
</svg>
