<div nz-row [nzGutter]="[16, 16]" nzJustify="center" style="min-height: 100vh;">
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="資料源">
      <div style="height: 60vh;">
        <app-code-editor [(inputCode)]="drivers"></app-code-editor>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="16">
    <nz-card nzTitle="主要圖表">
      <div style="height: 60vh;">
        <app-gantt-poc-chart
          (create)="create($event)"
          [currentDate]="currentDate"
          [drivers]="drivers"
        ></app-gantt-poc-chart>
      </div>
    </nz-card>
  </div>
</div>
